body {
	background-image: url(http://i15.photobucket.com/albums/a385/skatergirl117/Greens_zpsihsebsbx.jpg);
	background-position: center fixed;
	height: 30rem;
	width: 50rem;
	background-size: cover;
}
form {
    display: inline-block;	
    float: center;
	position: relative;
	left: 68%;
}
#text-box {
    font-size: 1.5rem;
    font-family: 'Rancho', cursive;
    color: #A37B45;
    margin-top: 10rem;
}
#add  {
	float: center;
	position: relative;
	left: 68%;
	line-height: 1.5rem;
	margin-top: 5rem;
	display: inline-block;
	color: #A37B45;
	background-color: white;
	font-weight: bold;
}
h2 {
	color: white;
	position: relative;
	left: 45%;
	font-size: 10rem;
	font-family: 'Rancho', cursive;
	text-shadow: 0.10rem 0.10rem #A37B45;
	border-style: none;	
	top: 4.5rem;
}
h4 {
	color: white;
	position: relative;
	left: 40%;
	top: 6.5rem;
	font-size: 1.5rem;
	font-family: 'Rancho', cursive;
}
h5 {
	color: white;
	position: relative;
	left: 40%;
	top: 8rem;
	font-size: 1.5rem;
	font-family: 'Rancho', cursive;
}
p {
	color: white;
	position: relative;
	left: 40%;
	font-size: 3rem;
	font-family: 'Rancho', cursive;
	text-shadow: 0.10rem 0.10rem #A37B45;
	border-style: solid;
	margin: 0.5em 2rem;
	cursor: pointer;
}
