body {
	background-image: url(c:/users/juan/projects/Shopping-List/images/Greens.jpg);
	background-position: center fixed;
	height: 30rem;
	width: 50rem;
	background-size: cover;
}
form {
    display: inline-block;	
    float: center;
	position: relative;
	left: 68%;
}
#text-box {
    font-size: 1.5rem;
    font-family: 'Rancho', cursive;
    color: #A37B45;
    margin-top: 10rem;
}
#add  {
	float: center;
	position: relative;
	left: 68%;
	line-height: 1.5rem;
	margin-top: 5rem;
	display: inline-block;
	color: #A37B45;
	background-color: white;
	font-weight: bold;
}
h2 {
	color: white;
	position: absolute;
	left: 45%;
	margin-top: 2rem;
	font-size: 4rem;
	font-family: 'Rancho', cursive;
	text-shadow: 0.10rem 0.10rem #A37B45;
	border-style: solid;	
}
h4 {
	color: white;
	position: absolute;
	left: 40%;
	margin-top: 6rem;
	font-size: 1.5rem;
	font-family: 'Rancho', cursive;
	color: white;
}
h5 {
	color: white;
	position: absolute;
	left: 40%;
	margin-top: 7.5rem;
	font-size: 1.5rem;
	font-family: 'Rancho', cursive;
	color: white;
}
.items {
	color: white;
	position: relative;
	left: 40hhfrc-=%;
	font-size: 2rem;
	font-family: 'Rancho', cursive;
	text-shadow: 0.10rem 0.10rem #A37B45;
	border-style: solid;
	margin: 0.5em 2rem;
}